/*This SCSS file conatains components reused in the style.scss file*/

//colors
$primary: #4b468e;
$light-primary:#4b468e9e;
$secondary: #bbcaca;
$white: #fffafa;
$white-transparent: rgba(255, 255, 255, 0.323);

//fonts-size
$biggest-font: 40px;
$big-font: 27px;
$regular-font: 18px;
$small-font: 14px;
