//importing variables from _components.scss
@import "components";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "kanit", sans-serif;
    background: $secondary;
    color: $primary;
}

//This is the whole style for the navigation bar
.navbar {
    font-size: $regular-font;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.715);
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        font-size: $biggest-font;
        padding: 20px;
    }

    ul {
        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: $primary;
                padding: 15px;
            }
            a:hover {
                color: $secondary;
                text-decoration: underline;
                transition: 0.5s;
            }
        }
    }
}
.container {
    display: flex;
}
.heading {
    padding: 20px 0;
    h1 {
        color: $secondary;
        -webkit-text-stroke: 0.5px#4b468eca;
        text-align: center;
        font-size: $biggest-font;
    }
}

//This is the whole style for the index page
#index {
    #section1 {
        display: flex;
        justify-content: center;
        background: $white-transparent;
        .container {
            height: 550px;
            width: 70%;
            padding: 20px 0;

            justify-content: space-between;
            align-items: center;
            .text-container {
                color: $white;
                h2 {
                    font-size: $big-font;
                    padding: 20px;
                }
                p {
                    font-size: $regular-font;
                    padding: 20px;
                }
                background: $light-primary;
                border-radius: 20px;
                min-height: 40%;
                width: 40%;
            }

            .image-container {
                display: flex;
                align-items: center;
                justify-content: end;
                width: 50%;
                img {
                    border-radius: 20px;
                    min-width: 80%;
                    min-height: 450px;
                    opacity: 0.8;
                }
            }
        }
    }
    #section2 {
        display: flex;
        justify-content: center;
        .container {
            padding: 40px 0;
            width: 70%;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        p,
        h2,
        span {
            padding: 20px;
        }
        h2 {
            font-size: $big-font;
        }
        p,
        span {
            font-size: $regular-font;
            a {
                color: $primary;
                font-weight: bold;
            }
        }

        .image-container {
            padding: 20px;
            display: flex;
            justify-content: space-around;
            .morphotype {
                height: 300px;
                width: 300px;
                border-radius: 10px;
            }
        }
    }
    #section3 {
        display: flex;
        justify-content: center;
        .container {
            padding: 40px 0;
            width: 70%;
            justify-content: space-around;
            align-items: center;
            h2 {
                text-align: center;
                padding: 20px;
                font-size: $big-font;
            }
            p {
                padding: 20px;
                font-size: $regular-font;
                text-align: center;
            }

            .advices {
                border: solid 2px;
                border-radius: 10px;
                border-color: $primary;
                display: flex;
                flex-direction: column;
                width: 35%;
                min-height: 288px;
                background: $white-transparent;
            }
            .link-container {
                margin: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 35px;
                border: solid 2px;
                border-radius: 10px;
                background: $primary;
            }
            a {
                align-self: center;
                text-decoration: none;
                color: $secondary;
                font-size: $regular-font;
            }
            .link-container:hover {
                background: $secondary;
                color: $primary;
            }
        }
    }
}

//This is the style for the Whole About Me page
#about-me {
    #section1 {
        display: flex;
        justify-content: center;
        background: $light-primary;
        margin-bottom: 85px;
        .container {
            width: 70%;
            padding: 20px 0;

            border-radius: 20px;
            justify-content: space-between;
            align-items: center;
            .text-container {
                color: $white;
                h2 {
                    font-size: $big-font;
                    padding: 15px;
                }
                p {
                    font-size: 16px;
                    padding: 15px;
                }
                min-height: 35%;
                width: 50%;
            }

            .image-container {
                display: flex;
                justify-content: center;
                width: 50%;
                img {
                    border-radius: 20px;
                    width: 450px;
                    height: 600px;
                    opacity: 0.8;
                }
            }
        }
    }
    #section2 {
        display: flex;
        justify-content: center;
        .container {
            flex-direction: column;
            border-radius: 20px;
            width: 60%;
            padding: 20px;
            background: $white-transparent;
        }
        .form-container {
            display: inline-block;
        }
        button {
            height: 30px;
            width: 100px;
            @include button-primary;
        }
        button:hover {
            background: $secondary;
            color: $primary;
        }
    }
    #section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        .container {
            background: $light-primary;
            border-radius: 20px;
            padding: 20px;
            flex-direction: column;
            width: 60%;
            table {
                width: 55%;
                td {
                    vertical-align: top;
                }
            }
            input {
                width: 100%;
            }
            #message {
                width: 100%;
                height: 50px;
            }
            button {
                width: 50%;
                align-self: flex-end;
                margin: 10px 0;
                color: $primary;
                height: 28px;
                border: solid 2px $secondary;
                border-radius: 10px;
            }
            button:hover {
                background: $secondary;
            }
        }
        h2 {
            color: $primary;
            padding: 20px 0;
            text-align: center;
        }
    }
}

//This is the whole style for the Training page
#training {
    #section1 {
        height: auto;
        display: flex;
        justify-content: center;
        background: $light-primary;
        .container {
            justify-content: space-between;
            width: 70%;
            align-items: center;
            .text-container {
                width: 50%;
                color: $white;
                p,
                span {
                    padding: 25px;
                }
            }
            .image-container {
                display: flex;
                justify-content: center;
                width: 40%;
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
    #section2 {
        background: $white-transparent;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding: 20px;
        }
        .container {
            justify-content: space-around;
            align-items: center;
            width: 70%;
        }
        .text-container {
            width: 40%;
            padding: 20px;
        }
    }
    .bonus {
        background: none !important;
        margin: 100px 0;
        .container {
            background: $light-primary;
            flex-direction: row-reverse;
            border-radius: 20px;
        }
        .image-container {
            img {
                width: 200px !important;
                height: 200px !important;
            }
        }
    }
}

//This is the style for the Whole Nutrition page
#nutrition {
    #section1 {
        height: auto;
        display: flex;
        justify-content: center;
        background: $light-primary;
        .container {
            justify-content: space-between;
            width: 70%;
            align-items: center;
            .text-container {
                width: 50%;
                color: $white;
                p,
                span {
                    padding: 25px;
                }
            }
            .image-container {
                display: flex;
                justify-content: center;
                width: 40%;
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
    #section2 {
        background: $white-transparent;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2,
        ul {
            padding: 20px;
        }
        .container {
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            width: 70%;
        }
        .text-container {
            width: 40%;
            padding: 20px;
        }
    }
    #table-section {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .table-container {
            min-width: 430px;
            font-size: $small-font;
            padding: 40px 0;
            width: 70%;
            table,
            th,
            td {
                border: 2px solid $primary;
            }
            td {
                padding: 10px;
                width: 33%;
                text-align: center;
                a {
                    font-weight: bold;
                    color: $primary;
                }
            }
            th {
                font-size: $regular-font;
            }
        }
    }
    .table1 {
        margin-bottom: 70px;
    }
}

//This is the style for the Whole plans page
#plans,
#saved4later {
    #section1 {
        display: flex;
        justify-content: center;

        margin-bottom: 85px;
        .container {
            width: 50%;
            padding: 20px 0;
            border-radius: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            h2 {
                font-size: $big-font;
                padding: 20px;
            }
            p {
                font-size: $regular-font;
                padding: 20px;
            }
            background: $light-primary;
        }
    }
    #section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            padding: 20px 0;
        }

        .container {
            flex-flow: row wrap;
            width: 70%;
            padding: 20px 0;

            .item-container {
                margin: 20px;
                padding: 15px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: $white-transparent;
                border: 2px solid $light-primary;
                border-radius: 10px;
                height: 200px;
                width: 150px;

                .item-header {
                    width: 100%;
                    height: 15%;
                    h3 {
                        text-align: center;
                    }
                }
                .item-footer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 35%;
                    font-size: $small-font;
                    button {
                        width: 60%;
                        @include button-secondary;
                    }
                    button:hover {
                        color: $secondary;
                        background: $light-primary;
                        border: solid 2px $secondary;
                        cursor: grab;
                    }
                }
                .item-desc {
                    color: $white;
                    background: #4b468e51;
                    border-radius: 10px;
                    width: 100%;
                    height: 50%;
                    p {
                        width: 100%;
                        padding: 5px;
                        font-size: $small-font;
                    }
                }
            }
        }
        .link-container {
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 35px;
            border: solid 2px;
            border-radius: 10px;
            background: $light-primary;
        }
        a {
            align-self: center;
            text-decoration: none;
            color: $secondary;
            font-size: $regular-font;
        }
        .link-container:hover {
            background: $secondary;
            color: $primary;
        }
    }
    #section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $light-primary;
        color: $white;
        margin: 40px 0;

        .container {
            padding: 20px 0;
            flex-direction: column;
            width: 70%;
            table {
                width: 55%;
                td {
                    vertical-align: top;
                }
            }
            input {
                width: 100%;
            }
            #content {
                width: 100%;
                height: 50px;
            }
            button {
                width: 50%;
                align-self: flex-end;
                margin: 10px 0;
                color: $primary;
                height: 28px;
                border: solid 2px $secondary;
                border-radius: 10px;
            }
            button:hover {
                background: $secondary;
            }

            #comments-section {
                display: flex;
                flex-direction: column;
                h3 {
                    text-align: center;
                    padding: 20px 0;
                }
                .comment-box {
                    height: fit-content;
                    background: white;
                    color: black;
                    p {
                        height: 50px;
                    }
                }
                .like-btn {
                    width: 50px;
                }
            }
        }
        h2 {
            padding: 20px 0;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    }
}

#saved4later {
    min-height: 800px;
}
//This is a media query for screen smaller than 1220px
@media screen and (max-width: 1220px) {
    #index {
        #section1 {
            .container {
                width: 90% !important;
                height: fit-content !important;
            }
        }

        #section2 {
            .container {
                width: 100% !important;
                font-size: $small-font !important;
                height: fit-content !important;
                border-radius: 0 !important;
            }
            .image-container {
                img {
                    width: 70% !important;
                    padding: 10px 0 !important;
                }
            }
        }
        #section3 {
            .advices {
                margin: 10px;
                width: 50%;
            }
        }
    }
    #about-me {
        #section1 {
            .container {
                width: 100% !important;
            }
        }
    }
}

//This is a media query for screen smaller than 850px
@media screen and (max-width: 850px) {
    #index {
        #section1 {
            .container {
                flex-direction: column;
                border-radius: 0 !important;
            }
            .text-container {
                width: 90% !important;
                padding: 15px !important;
            }
            .image-container {
                width: 90% !important;
                padding: 15px;
                img {
                    width: 100% !important;
                }
            }
        }
    }
    #about-me {
        #section1 {
            .container {
                flex-direction: column !important;
                width: 90% !important;
                img {
                    width: 90% !important;
                }
                .text-container {
                    width: 90% !important;
                }
                .image-container {
                    width: 90% !important;
                    img {
                        width: 90% !important;
                    }
                }
            }
        }
    }
}
//This is a media query for screen smaller than 648px
@media screen and (max-width: 768px) {
    #nutrition,
    #training {
        #section1 {
            .container {
                flex-direction: column-reverse;
                justify-content: center;
                width: 100%;
            }
            .text-container {
                width: 90% !important;
            }
            .image-container {
                display: flex;
                padding: 20px;
                justify-content: center;
                width: 85% !important;
            }
        }
        #section2 {
            .container {
                flex-direction: column-reverse;
                justify-content: center;
                width: 100%;
            }
            .text-container {
                border: none !important;
                width: 90% !important;
            }
        }
    }
    #section3 {
        .container {
            width: 100%;
            flex-direction: column !important;
        }
        .advices {
            margin: 10px 0 !important;
            width: 90% !important;
        }
    }
}

//This is a media query for screen smaller than 648px
@media screen and (max-width: 648px) {
    .navbar {
        height: auto;
        flex-direction: column;
        ul {
            li {
                display: block;
                text-align: center;
            }
        }
    }

    #section2 {
        .image-container {
            align-items: center;
            flex-direction: column;
            img {
                width: 80% !important;
            }
        }
    }
}

//This is the style for the whole footer
footer {
    margin-top: 30px;
    min-height: 90px;
    .notice {
        min-height: 50px;
        background: $white-transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px 20px 0 0;
        span {
            font-size: 15px;
            text-align: center;
        }
    }
    .container {
        padding: 10px;
        background: rgba(255, 255, 255, 0.715);
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        span {
            padding: 10px;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                padding: 10px 0;
                display: inline;
                list-style: none;
                a {
                    font-size: 15px;
                    padding: 0 8px;
                    text-decoration: none;
                    color: $primary;
                }
                a:hover {
                    color: $secondary;
                    text-decoration: underline;
                    transition: 0.5s;
                }
            }
        }
    }
}
