/*This SCSS file conatains components reused in the style.scss file*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "kanit", sans-serif;
  background: #bbcaca;
  color: #4b468e;
}

.navbar {
  font-size: 18px;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.715);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .title {
  font-size: 40px;
  padding: 20px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: #4b468e;
  padding: 15px;
}

.navbar ul li a:hover {
  color: #bbcaca;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  padding: 20px 0;
}

.heading h1 {
  color: #bbcaca;
  -webkit-text-stroke: 0.5px #4b468eca;
  text-align: center;
  font-size: 40px;
}

#index #section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.323);
}

#index #section1 .container {
  height: 550px;
  width: 70%;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #section1 .container .text-container {
  color: #fffafa;
  background: #4b468e9e;
  border-radius: 20px;
  min-height: 40%;
  width: 40%;
}

#index #section1 .container .text-container h2 {
  font-size: 27px;
  padding: 20px;
}

#index #section1 .container .text-container p {
  font-size: 18px;
  padding: 20px;
}

#index #section1 .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
}

#index #section1 .container .image-container img {
  border-radius: 20px;
  min-width: 80%;
  min-height: 450px;
  opacity: 0.8;
}

#index #section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index #section2 .container {
  padding: 40px 0;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#index #section2 p,
#index #section2 h2,
#index #section2 span {
  padding: 20px;
}

#index #section2 h2 {
  font-size: 27px;
}

#index #section2 p,
#index #section2 span {
  font-size: 18px;
}

#index #section2 p a,
#index #section2 span a {
  color: #4b468e;
  font-weight: bold;
}

#index #section2 .image-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#index #section2 .image-container .morphotype {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

#index #section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index #section3 .container {
  padding: 40px 0;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #section3 .container h2 {
  text-align: center;
  padding: 20px;
  font-size: 27px;
}

#index #section3 .container p {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

#index #section3 .container .advices {
  border: solid 2px;
  border-radius: 10px;
  border-color: #4b468e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  min-height: 288px;
  background: rgba(255, 255, 255, 0.323);
}

#index #section3 .container .link-container {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 35px;
  border: solid 2px;
  border-radius: 10px;
  background: #4b468e;
}

#index #section3 .container a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #bbcaca;
  font-size: 18px;
}

#index #section3 .container .link-container:hover {
  background: #bbcaca;
  color: #4b468e;
}

#about-me #section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4b468e9e;
  margin-bottom: 85px;
}

#about-me #section1 .container {
  width: 70%;
  padding: 20px 0;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me #section1 .container .text-container {
  color: #fffafa;
  min-height: 35%;
  width: 50%;
}

#about-me #section1 .container .text-container h2 {
  font-size: 27px;
  padding: 15px;
}

#about-me #section1 .container .text-container p {
  font-size: 16px;
  padding: 15px;
}

#about-me #section1 .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

#about-me #section1 .container .image-container img {
  border-radius: 20px;
  width: 450px;
  height: 600px;
  opacity: 0.8;
}

#about-me #section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-me #section2 .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  width: 60%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.323);
}

#about-me #section2 .form-container {
  display: inline-block;
}

#about-me #section2 button {
  height: 30px;
  width: 100px;
  color: #fffafa;
  background: #4b468e9e;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

#about-me #section2 button:hover {
  background: #bbcaca;
  color: #4b468e;
}

#training #section1 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4b468e9e;
}

#training #section1 .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#training #section1 .container .text-container {
  width: 50%;
  color: #fffafa;
}

#training #section1 .container .text-container p,
#training #section1 .container .text-container span {
  padding: 25px;
}

#training #section1 .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

#training #section1 .container .image-container img {
  width: 250px;
  height: 250px;
}

#training #section2 {
  background: rgba(255, 255, 255, 0.323);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#training #section2 h2 {
  padding: 20px;
}

#training #section2 .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

#training #section2 .text-container {
  width: 40%;
  padding: 20px;
}

#training .bonus {
  background: none !important;
  margin: 100px 0;
}

#training .bonus .container {
  background: #4b468e9e;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 20px;
}

#training .bonus .image-container img {
  width: 200px !important;
  height: 200px !important;
}

#nutrition #section1 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4b468e9e;
}

#nutrition #section1 .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nutrition #section1 .container .text-container {
  width: 50%;
  color: #fffafa;
}

#nutrition #section1 .container .text-container p,
#nutrition #section1 .container .text-container span {
  padding: 25px;
}

#nutrition #section1 .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

#nutrition #section1 .container .image-container img {
  width: 200px;
  height: 200px;
}

#nutrition #section2 {
  background: rgba(255, 255, 255, 0.323);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nutrition #section2 h2,
#nutrition #section2 ul {
  padding: 20px;
}

#nutrition #section2 .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

#nutrition #section2 .text-container {
  width: 40%;
  padding: 20px;
}

#nutrition #table-section {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nutrition #table-section .table-container {
  min-width: 430px;
  font-size: 14px;
  padding: 40px 0;
  width: 70%;
}

#nutrition #table-section .table-container table,
#nutrition #table-section .table-container th,
#nutrition #table-section .table-container td {
  border: 2px solid #4b468e;
}

#nutrition #table-section .table-container td {
  padding: 10px;
  width: 33%;
  text-align: center;
}

#nutrition #table-section .table-container td a {
  font-weight: bold;
  color: #4b468e;
}

#nutrition #table-section .table-container th {
  font-size: 18px;
}

#nutrition .table1 {
  margin-bottom: 70px;
}

#plans #section1,
#saved4later #section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 85px;
}

#plans #section1 .container,
#saved4later #section1 .container {
  width: 50%;
  padding: 20px 0;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffafa;
  background: #4b468e9e;
}

#plans #section1 .container h2,
#saved4later #section1 .container h2 {
  font-size: 27px;
  padding: 20px;
}

#plans #section1 .container p,
#saved4later #section1 .container p {
  font-size: 18px;
  padding: 20px;
}

#plans #section2,
#saved4later #section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#plans #section2 h2,
#saved4later #section2 h2 {
  padding: 20px 0;
}

#plans #section2 .container,
#saved4later #section2 .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  padding: 20px 0;
}

#plans #section2 .container .item-container,
#saved4later #section2 .container .item-container {
  margin: 20px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.323);
  border: 2px solid #4b468e9e;
  border-radius: 10px;
  height: 200px;
  width: 150px;
}

#plans #section2 .container .item-container .item-header,
#saved4later #section2 .container .item-container .item-header {
  width: 100%;
  height: 15%;
}

#plans #section2 .container .item-container .item-header h3,
#saved4later #section2 .container .item-container .item-header h3 {
  text-align: center;
}

#plans #section2 .container .item-container .item-footer,
#saved4later #section2 .container .item-container .item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 35%;
  font-size: 14px;
}

#plans #section2 .container .item-container .item-footer button,
#saved4later #section2 .container .item-container .item-footer button {
  width: 60%;
  margin: 10px 0;
  color: #4b468e9e;
  height: 28px;
  border: solid 2px #4b468e9e;
  border-radius: 10px;
  background: #bbcaca;
}

#plans #section2 .container .item-container .item-footer button:hover,
#saved4later #section2 .container .item-container .item-footer button:hover {
  color: #bbcaca;
  background: #4b468e9e;
  border: solid 2px #bbcaca;
  cursor: -webkit-grab;
  cursor: grab;
}

#plans #section2 .container .item-container .item-desc,
#saved4later #section2 .container .item-container .item-desc {
  color: #fffafa;
  background: #4b468e51;
  border-radius: 10px;
  width: 100%;
  height: 50%;
}

#plans #section2 .container .item-container .item-desc p,
#saved4later #section2 .container .item-container .item-desc p {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

#plans #section2 .link-container,
#saved4later #section2 .link-container {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 35px;
  border: solid 2px;
  border-radius: 10px;
  background: #4b468e;
}

#plans #section2 a,
#saved4later #section2 a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #bbcaca;
  font-size: 18px;
}

#plans #section2 .link-container:hover,
#saved4later #section2 .link-container:hover {
  background: #bbcaca;
  color: #4b468e;
}

#plans #section3,
#saved4later #section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #4b468e9e;
  color: #fffafa;
}

#plans #section3 .container,
#saved4later #section3 .container {
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

#plans #section3 .container table,
#saved4later #section3 .container table {
  width: 55%;
}

#plans #section3 .container table td,
#saved4later #section3 .container table td {
  vertical-align: top;
}

#plans #section3 .container input,
#saved4later #section3 .container input {
  width: 100%;
}

#plans #section3 .container #content,
#saved4later #section3 .container #content {
  width: 100%;
  height: 50px;
}

#plans #section3 .container button,
#saved4later #section3 .container button {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px 0;
  color: #4b468e;
  height: 28px;
  border: solid 2px #bbcaca;
  border-radius: 10px;
}

#plans #section3 .container button:hover,
#saved4later #section3 .container button:hover {
  background: #bbcaca;
}

#plans #section3 .container #comments-section,
#saved4later #section3 .container #comments-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#plans #section3 .container #comments-section h3,
#saved4later #section3 .container #comments-section h3 {
  text-align: center;
  padding: 20px 0;
}

#plans #section3 .container #comments-section .comment-box,
#saved4later #section3 .container #comments-section .comment-box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  color: black;
}

#plans #section3 .container #comments-section .comment-box p,
#saved4later #section3 .container #comments-section .comment-box p {
  height: 50px;
}

#plans #section3 .container #comments-section .like-btn,
#saved4later #section3 .container #comments-section .like-btn {
  width: 50px;
}

#plans #section3 h2,
#saved4later #section3 h2 {
  padding: 20px 0;
  text-align: center;
}

#saved4later {
  min-height: 800px;
}

@media screen and (max-width: 1220px) {
  #index #section1 .container {
    width: 90% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  #index #section2 .container {
    width: 100% !important;
    font-size: 14px !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    border-radius: 0 !important;
  }
  #index #section2 .image-container img {
    width: 70% !important;
    padding: 10px 0 !important;
  }
  #index #section3 .advices {
    margin: 10px;
    width: 50%;
  }
  #about-me #section1 .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 850px) {
  #index #section1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0 !important;
  }
  #index #section1 .text-container {
    width: 90% !important;
    padding: 15px !important;
  }
  #index #section1 .image-container {
    width: 90% !important;
    padding: 15px;
  }
  #index #section1 .image-container img {
    width: 100% !important;
  }
  #about-me #section1 .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 90% !important;
  }
  #about-me #section1 .container img {
    width: 90% !important;
  }
  #about-me #section1 .container .text-container {
    width: 90% !important;
  }
  #about-me #section1 .container .image-container {
    width: 90% !important;
  }
  #about-me #section1 .container .image-container img {
    width: 90% !important;
  }
}

@media screen and (max-width: 768px) {
  #nutrition #section1 .container,
  #training #section1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #nutrition #section1 .text-container,
  #training #section1 .text-container {
    width: 90% !important;
  }
  #nutrition #section1 .image-container,
  #training #section1 .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85% !important;
  }
  #nutrition #section2 .container,
  #training #section2 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #nutrition #section2 .text-container,
  #training #section2 .text-container {
    border: none !important;
    width: 90% !important;
  }
  #section3 .container {
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #section3 .advices {
    margin: 10px 0 !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 648px) {
  .navbar {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul li {
    display: block;
    text-align: center;
  }
  #section2 .image-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section2 .image-container img {
    width: 80% !important;
  }
}

footer {
  margin-top: 30px;
  min-height: 90px;
}

footer .notice {
  min-height: 50px;
  background: rgba(255, 255, 255, 0.323);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px 20px 0 0;
}

footer .notice span {
  font-size: 15px;
  text-align: center;
}

footer .container {
  padding: 10px;
  background: rgba(255, 255, 255, 0.715);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container span {
  padding: 10px;
}

footer .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container ul li {
  padding: 10px 0;
  display: inline;
  list-style: none;
}

footer .container ul li a {
  font-size: 15px;
  padding: 0 8px;
  text-decoration: none;
  color: #4b468e;
}

footer .container ul li a:hover {
  color: #bbcaca;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */